.page-wrapper {
  background: #f9f9f9;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  padding-right: 200px;
}
ion-toolbar {
  --background: #999cdb !important;
  --color: #fff !important;
  text-align: center !important;
  ion-title {
    font-weight: 600;
  }
}
ion-content {
  --padding-bottom: 20px;
  --background: #999cdb;
}
.input-section {
  padding-top: 20px;
}

.city-name {
  color: #ffffff !important;
}

.input-field {
  flex: 1;
  margin-top: 10px;
  height: 40px;
  ion-input {
    font-size: 14px;
    height: 100%;    
    --padding-top: 0px;
    --padding-bottom: 0px;
  }
}

ion-item {
  margin-bottom: 16px;
  --background: #fff;
}
.button-solid{
  --background: #999cdb;
  border: 3px solid #f6bdbd;
}
.no-shadow {
  --box-shadow: none !important;
  box-shadow: none !important;
}

.favorite-btn {
  --width: 50px;
  --height: 50px;
  --background: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .favorite-text {
    font-size: 16px;
    color: red;
    text-transform: none;
    transition: color 0.3s ease;
  }

  .not-favorite-text {
    color: black;
  }

  .favorite-text.favorite {
    color: red;
  }
  i {
    font-size: 30px;
    transition: color 0.3s ease;
  }

  .favorite {
    color: red;
  }

  .not-favorite {
    color: black;
  }
}
.favorite-cities {
  margin-top: 20px;
  margin-left: -10px;
  margin-right: -10px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;

    &:last-child {
      border-bottom: none;
    }

    ion-button {
      font-size: 14px;
      color: red;
      padding: 0;
      margin: 0;
      text-transform: none;
      font-weight: bold;
      transition: color 0.3s ease;

      &:hover {
        color: darkred;
      }
    }
  }
}

ion-card {
  background: linear-gradient(#999cdb,#f6bdbd);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

ion-card-title {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

ion-card-content p {
  margin: 6px 0;
  font-size: 16px;
  color: #333;
}

.forecast-wrapper {
  margin: 20px;
}

.forecast-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
}

.forecast-day {
  flex: 1;
  min-width: 110px;
  text-align: center;
  background: linear-gradient( #f6bdbd, #999cdb );
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.forecast-icon {
  width: 50px;
  height: 50px;
}
